extends ./layout/default.pug

block content
  div(class='container')
    div(id='content_en' class='collapse in')
      h1 #{docs.h1Label}
      p
        strong #{docs.strong1Label}:
        |   #{docs.p1Label}
      code #{docs.code1Label}
      p #{docs.p2Label}
      p #{docs.p3Label}
      p
        strong #{docs.strong2Label}:
        |  #{docs.p4Label}
      code #{docs.code2Label}
      p #{docs.p5Label}
      code #{docs.code3Label}
      p #{docs.p6Label}
      code #{docs.code4Label}
      p #{docs.p7Label}
      p #{docs.p8Label}
      p
        strong #{docs.strong3Label}:
        |  #{docs.p9Label}
      code
        | #{docs.code5Label}
        br
        |  #{docs.code6Label}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{docs.code7Label}
        br
        | #{docs.code8Label}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{docs.code9Label}
        br
        | #{docs.code10Label}
      p #{docs.p10Label}
      p #{docs.p11Label}
      p #{docs.p12Label}
      p #{docs.p13Label}
      code #{docs.code11Label}
      p #{docs.p14Label}
      code #{docs.code12Label}
      p
        strong #{docs.strong4Label}
        |  #{docs.p15Label}
      code
        | #{docs.code13Label}
        br
        | #{docs.code14Label}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{docs.code15Label}
        br
        | &nbsp;&nbsp;&nbsp;&nbsp;#{docs.code16Label}
        br
        | #{docs.code17Label}
        br
        | #{docs.code18Label}
        br
      p #{docs.p16Label}
      p #{docs.p17Label}
      p #{docs.p18Label}
      p #{docs.p19Label}
      code #{docs.code19Label}
      p #{docs.p20Label}
      code #{docs.code20Label}
      p
        strong #{docs.strong5Label}
        |  #{docs.p21Label}
      code
        | #{docs.code21Label}
        br
        | #{docs.code22Label}
        br
        | #{docs.code23Label}
        br
        | #{docs.code24Label}
        br
        | #{docs.code25Label}
        br
        | #{docs.code26Label}
      p
        strong #{docs.strong6Label}
        |  #{docs.p22Label}
      p #{docs.p23Label}
      code #{docs.code27Label}
      p #{docs.p24Label}
      p #{docs.p25Label}
      code #{docs.code28Label}
      p #{docs.p26Label}
      p #{docs.p27Label}
      code #{docs.code29Label}
      p #{docs.p28Label}
      p #{docs.p29Label}
      code #{docs.code30Label}
      p #{docs.p30Label}
      p #{docs.p31Label}
      code #{docs.code31Label}
      p #{docs.p32Label}